#
# phpBB imageset configuration file
#
# @package phpBB3
# @copyright (c) 2005 phpBB Group
# @license http://opensource.org/licenses/gpl-license.php GNU Public License
#
#
# At the left is the name, please do not change this
# At the right the value is entered
# For on/off options the valid values are on, off, 1, 0, true and false
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes.
# Single and double quotes do not need to be escaped.
#
#

# General Information about this imageset
name = STUsilver
copyright = &copy; STU-Team 2007
version = 3.0.0

img_icon_contact_pm = neue-pn-klein.png*20*28
img_icon_post_delete = beitrag-loeschen.png*20*20
img_icon_post_edit = edit-beitrag.png*20*61
img_icon_post_info = beitrags-info.png*20*20
img_icon_post_quote = zitiere-beitrag.png*20*65
img_icon_post_report = beitrag-melden.png*20*20
img_icon_user_online = online-icon.png*58*58
img_button_pm_forward = pn-weiterleiten.png*25*119
img_button_pm_new = neue-pn-gross.png*25*87
img_button_pm_reply = neue-antwort.png*25*119
img_button_topic_locked = thema-geschlossen.png*25*119
img_button_topic_new = neues-thema.png*25*119
img_button_topic_reply = neue-antwort.png*25*119